body, html, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #f4f7f6; /* FNB Light Grey */
}

/* Make sure the main container fills the screen */
.app-container {
    display: flex;
    min-height: 100vh;
}